Repository pahud/cdk-eks-spotblocks, pull requests merged in 2020-09, with the labels that each got.

#58 chore: yarn upgrade
  yarn.lock
Labels: yarn

#59 chore: yarn upgrade
  yarn.lock
Labels: yarn

#62 chore: upgrade projen
  .github/workflows/build.yml
  .github/workflows/projenupgrade.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: projen/upgrade

#63 chore: yarn upgrade
  yarn.lock
Labels: auto-merge, yarn/upgrade
